
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body align-items-center">
        <h5 class="card-title">For what?</h5>
        <p class="card-text">TicketMaker is the perfect app to organize the tasks of your project to keep track of them and see the updates. </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card align-items-center">
      <div class="card-body">
        <h5 class="card-title">For who?</h5>
        <p class="card-text">Its best places to be used are startup companies with low to medium number of emplooyes.</p>
      </div>
    </div>
  </div>
</div>


